html,
body,
#app {
  @apply font-montserrat m-0 h-full;
}

:root {
  --mowiki-expanded-sidebar-width: 16vw;
  --mowiki-collapsed-sidebar-width: 6vw;
  --mowiki-view-top-bottom-padding: 1.5rem;
  --mowiki-pagination-height: 4rem;
  --mowiki-sidebar-z-index: 1;
  --mowiki-link-color: blue;
}

.el-pagination {
  --el-pagination-font-size: 1rem;
  background: white;
  @apply h-[var(--mowiki-pagination-height)];
  @apply w-[100vw] left-0 flex items-center justify-center fixed bottom-0;
}

.el-loading-spinner {
  @apply fixed left-0 top-1/2 w-[100vw] !important;
}

.el-input__inner::placeholder {
  @apply font-montserrat;
}
